body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #ef1212;
    color: white;
    padding: 20px;
}

#item-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.item {
    margin: 15px;
    text-align: center;
}

.item img {
    width: 150px;
    height: 150px;
    cursor: pointer;
    border-radius: 10px;
}

.item p {
    margin-top: 10px;
    font-size: 1.1em;
}
